#afs_container
  #afs_fs_chooser_pane
    -if @file_systems && @file_systems.length > 0
      %h2="Available File Systems: " + @file_systems.length.to_s
      %ul
        -@file_systems.each do |fs|
          %li= link_to fs.display, afs_view_path(fs.internal_name)
          
          
    -else
      %h2 There are no file systems loaded.
    = render :partial => 'afs/shared/powered_by'