#afs_container
  #afs_fs_chooser_pane
    Available File Systems:
    -if @file_systems
      %ul
        -@file_systems.each do |fs|
          %li= fs.display
    -else
      There are no file systems loaded.
  #afs_fs_tree_pane
  #afs_fs_display_pane