#hd.ui-widget-header.ui-corner-top
  =@file_system.display + ":"
  %input{:type => 'hidden', :value => @file_system.internal_name}
#bd.ui-widget-header
  #tree-pane
    #tree-list
      -@root_dir_subs.each do |dir|
        .list-item
          = dir[0]
          .ui-icon.ui-icon-circle-triangle-e.icon-fix
          %input{:type => 'hidden', :value => dir[1]}
  #files-pane
    #file-list
      -@root_dir_subs.each do |dir|
        .list-item
          = dir[0]
          %input{:type => 'hidden', :value => dir[1]}
#ft.ui-widget-header.ui-corner-bottom
  = render :partial => 'afs/shared/powered_by'