*.swp
.DS_Store
nbproject/
.settings
.classpath
.project
target
build
*.pid
log
.metadata
*.iml
*.idea
coverage
coverage.data
extra/nohup.out
/blur-admin/public/javascripts
/blur-admin/public/stylesheets
conf
