.classpath
.project
.settings
.idea
*.ipr
*.iws
*.iml
*.class
**/*.iml
target
demo-tables
src/*/target/**
src/*/tmp/**
src/*/tmp-test/**
*.out
*.log
*.pid
src/blur-store/src/main/java/com/quicklz/
lib/*.jar
src/blur-core/local-testing-tmp*
.DS_Store
