%html
  %title Blur Console - Error 404
  %head
  %body
    %img{:src => image_path('404_file_not_found.png')}
    %h3 We encountered an error trying to find the page or file you were looking for.
    %h3 Please make sure you typed in the URL or file name correctly.