.file_layout
  - if @files
    %ul
      - @files.each do |parent, children|
        %li{:id => parent}
          %a{:href=>'',:id => parent}= parent
          - if children.length > 0
            %ul{:class => parent}
              - @new_parent = children
              = render "file_child"
