%ul
  - @children.each do |child|
    -if child[:is_dir]
      %li.folder=link_to(child[:name], hdfs_expand_path(@hdfs_id, @path + child[:name]), :class=>'folder')
    -else
      %li.file=link_to(child[:name], hdfs_file_info_path(@hdfs_id, @path + child[:name]), :class=>'file')
