#file_list{:style => 'display: none' }
  - if !file_names_hash.empty?
    %ul
      - file_names_hash.each do |file,stats|
        %li
          %a{:id => file.gsub(/[^[:alnum:]]/,'-'), :connection => connection}= file.split('/').last
  - else
    No available files

#file_tiles{:style => 'display: none' }
  - if !file_names_hash.empty?
    - file_names_hash.each do |file,stats|
      %button{:id => file.gsub(/[^[:alnum:]]/,'-'), :connection => connection}
        - if file.split('/').last.split('.').length > 1
          - name = file.split('/').last.split('.').last
        - if stats.isdir
          %img{:id => 'icon', :src => "/images/open_folder.png"}
        - elsif name == 'pdf'
          %img{:id => 'icon', :src => "/images/pdf.ico"}
        - elsif name == 'png'
          %img{:id => 'icon', :src => "/images/png.ico"}
        - elsif name == 'rtf'
          %img{:id => 'icon', :src => "/images/rtf.ico"}
        - elsif name == 'text' or name == 'txt'
          %img{:id => 'icon', :src => "/images/text.ico"}
        - elsif name == 'xml'
          %img{:id => 'icon', :src => "/images/xml.ico"}
        - else
          %img{:id => 'icon', :src => "/images/default.ico"}
        = file.split('/').last
  - else
    No available files

#file_details{:style => 'display: none' }
  - if !file_names_hash.empty?
    %table
      %thead
        %tr
          %th.name File Name
          %th Length
          %th Directory
          %th Block Reps
          %th Block Size
          %th Owner
          %th Group
      %tbody
        - file_names_hash.each do |file,stats|
          %tr{:id => file.gsub(/[^[:alnum:]]/,'-'), :connection => connection}
            %td.name=file.split('/').last
            %td=stats.length
            %td=stats.isdir
            %td=stats.block_replication
            %td=stats.blocksize
            %td=stats.owner
            %td=stats.group
  - else
    No available files
