#file_header
  %h4= @file_name

#file_list{:style => 'display: none' }
  - if @file_names
    %ul
    - @file_names.each do |file|
      %li
        %a{:id => file}= file
  - else
    No available files

#file_tiles{:style => 'display: none' }
  - if @file_names
    - @file_names.each do |file|
      %button{:id => file}
        = file
  - else
    No available files
