#file_list{:style => 'display: none' }
  - if !file_names.empty?
    %ul
      - file_names.each do |file|
        %li
          %a{:id => file.gsub(/[^[:alnum:]]/,'-'), :connection => connection}= file.split('/').last
  - else
    No available files

#file_tiles{:style => 'display: none' }
  - if !file_names.empty?
    - file_names.each do |file|
      %button{:id => file.gsub(/[^[:alnum:]]/,'-'), :connection => connection}
        = file.split('/').last
  - else
    No available files

#file_details{:style => 'display: none' }
  - if !file_names.empty?
    %table
      %thead
        %tr
          %th.name File Name
          %th Length
          %th Directory
          %th Block Reps
          %th Block Size
          %th Owner
          %th Group
      %tbody
        - file_names.each do |file|
          %tr
            %td.name=file
            %td ''
            %td ''
            %td ''
            %td ''
            %td ''
            %td ''
  - else
    No available files
