- content_for :title, 'HDFS'
- content_for :javascript do
  =javascript_include_tag 'jquery.contextMenu', 'jquery.osxFinder'
- content_for :stylesheets do
  =stylesheet_link_tag 'jquery.contextMenu.css', 'jquery.osxFinder'


#hdfs_wrapper
  #hdfs_browser
    %ul#top_level
      - @instances.each do |instance|
        %li=link_to(instance.name, hdfs_expand_path(instance.id))


:javascript
  $('#hdfs_browser').osxFinder();