- content_for :title, 'HDFS'
- content_for :javascript do
  =javascript_include_tag 'jquery.contextMenu', 'jquery.osxFinder', 'compiled/hdfs'
- content_for :stylesheets do
  =stylesheet_link_tag 'jquery.contextMenu.css', 'jquery.osxFinder'


#hdfs_wrapper
  #hdfs_browser.ui-corner-top.ui-corner-bottom
    %ul#top_level
      - @instances.each do |instance|
        %li.hdfs_instance{:hdfs_id=>instance.id, :hdfs_name=>instance.name, :hdfs_path=>'/'}
          =image_tag('database16.png')
          =link_to(instance.name, hdfs_expand_path(instance.id))
          =image_tag('expand_folder.png',:style=>'float:right;')

