- content_for :title, 'HDFS'
- content_for :javascript do
  =javascript_include_tag 'hdfs'

#hdfs_wrapper
  #hdfs_browser{:hdfs_editor =>current_user.editor.to_s}
    %ul#top_level
      - @instances.each do |instance|
        %li.osxSelectable.hdfs_instance{:hdfs_id=>instance.id, :hdfs_name=>instance.name, :hdfs_path=>'/'}
          =link_to(instance.name, expand_hdfs_path(instance.id), :title=>instance.name)

