/**
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
// Fonts
@mixin standard-font {
  font-weight: bold;
  color: $font-color;
}

// Borders
@mixin border        { border:        $border_width $border_style $border_color; }
@mixin border-top    { border-top:    $border_width $border_style $border_color; }

@mixin border-radius-bottom($radius:5px) {
	-webkit-border-bottom-left-radius: $radius;
	-webkit-border-bottom-right-radius: $radius;
	-moz-border-radius-bottomleft: $radius;
	-moz-border-radius-bottomright: $radius;
}

@mixin border-radius-top($radius:5px) {
  -webkit-border-top-left-radius: $radius;
  -webkit-border-top-right-radius: $radius;
  -moz-border-radius-topleft: $radius;
  -moz-border-radius-topright: $radius;
}

@mixin border-radius-right($radius:5px) {
	-webkit-border-top-right-radius: $radius;
	-webkit-border-bottom-right-radius: $radius;
	-moz-border-radius-topright: $radius;
	-moz-border-radius-bottomright: $radius;
}

@mixin border-radius-left($radius:5px) {
	-webkit-border-top-left-radius: $radius;
	-webkit-border-bottom-left-radius: $radius;
	-moz-border-radius-topleft: $radius;
	-moz-border-radius-bottomleft: $radius;
}

@mixin danger-progress-background{
  background-image: -moz-linear-gradient(top, #EE5F5B, #C43C35);
  background-image: -ms-linear-gradient(top, #EE5F5B, #C43C35);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#EE5F5B), to(#C43C35));
  background-image: -webkit-linear-gradient(top, #EE5F5B, #C43C35);
  background-image: -o-linear-gradient(top, #EE5F5B, #C43C35);
  background-image: linear-gradient(top, #EE5F5B, #C43C35);
}

@mixin neutral-progress-background{
  background-image: -moz-linear-gradient(top, #08C, #04C);
  background-image: -ms-linear-gradient(top, #08C, #04C);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08C), to(#04C));
  background-image: -webkit-linear-gradient(top, #08C, #04C);
  background-image: -o-linear-gradient(top, #08C, #04C);
  background-image: linear-gradient(top, #08C, #04C);
}

@mixin standard-border {
  @include border-radius;
  @include border;
}