#hd
  =image_tag "blur_logo.png"
  #menu-bar.ui-widget-header.ui-state-select.ui-corner-top
    %ul
      %li
        %a.ui-menu.ui-state-default{:href => '#'}Menu1
        .hidden
          %ul
            %li
              %a{:href =>'#'}Menu Option
            %li
              %a{:href =>'#'}Menu Option
            %li
              %a{:href =>'#'}Menu Option
            %li
              %a{:href =>'#'}Menu Option
      %li
        %a.ui-menu.ui-state-default{:href => '#'}Menu2
        .hidden
          %ul
            %li
              %a{:href =>'#'}Menu Option
            %li
              %a{:href =>'#'}Menu Option
            %li
              %a{:href =>'#'}Menu Option
            %li
              %a{:href =>'#'}Menu Option

#bd
  #widgets.ui-widget-content
    .widget
      .ui-widget-header.ui-corner-top Query Status
      .ui-widget-content.ui-widget.ui-corner-button Here's some info about queries
      
    .widget
      .ui-widget-header.ui-corner-top Query Status
      .ui-widget-content.ui-widget.ui-corner-button Here's some info about queries

    .widget
      .ui-widget-header.ui-corner-top Query Status
      .ui-widget-content.ui-widget.ui-corner-button Here's some info about queries    


