<td><%= controller.get('node_name') %></td>
<td><%= controller.get('blur_version') %></td>
<td>
  <% if(controller.get('controller_status') == 0){ %>
    <i class="icon-remove-sign icon-white destroy-controller confirm-action" title="Remove This Controller" />
  <% } %>
</td>