<td><%= cluster.get('name') %></td>
<td><%= cluster.get('shard_blur_version') %></td>
<td><%= cluster.safe_mode() %></td>
<td>
  <a class="more-shard-info">
    <%= cluster.get('shard_status') %>
  </a>
</td>
<td>
  <% if(cluster.get('status') == 0){ %>
    <i class="icon-remove-sign icon-white destroy-cluster confirm-action" title="Remove This Cluster" />
  <% } %>
</td>