<h2 class="zookeeper-name">
  <%= zookeeper.header() %>
  <div class="connection-url">
    <%= zookeeper.get('url') %>
  </div>
  <% if(zookeeper.get('status') == 0){ %>
    <i class="icon-remove-sign destroy-zk icon-white" title="Forget this Zookeeper"/>
  <% } %>
</h2>