# License Key
#license.file=

# Mysql connection information
#store.url=
#store.user=
#store.password=

# ZooKeeper Instances
#zk.instances=some-zk

#zk.some-zk.url=

# Active Collectors
active.collectors=hdfs|queries|tables

# HDFS Collector properties
#hdfs.instances=some-hdfs

#hdfs.some-hdfs.thrift.url=
#hdfs.some-hdfs.url=
#hdfs.some-hdfs.login.user=SOMEUSER (optional)

# Blur properties
#blur.instances=some-blur

#blur.some-blur.url=
