$footer-height: 45px;

// UI lightness theme settings
$base-theme-color: #f6a828;
$base-theme-background-color: #eeeeee;

$total-cols: 30;
$col-width: 5em;
$gutter-width: 1em;
$side-gutter-width: 3em;
$show-grid-backgrounds: true;

body {
  margin:0 auto;
  @include container;
  @include susy-grid-background;
  #top { @include susy-grid-background; }
}

h2 { font-size: 200%; }

@mixin standard-font {
  font-weight: bold;
  color: #555;
}
