$footer-height: 40px;

// UI lightness theme settings
$base-theme-color: #f6a828;
$base-theme-background-color: #eeeeee;

@import "susy";

$total-cols             : 12;
$col-width              : 4em;
$gutter-width           : 1em;
$side-gutter-width      : $gutter-width;

$show-grid-backgrounds  : true;

#ft { top: 4px; }
