#blur_queries_wrapper {
  padding-top: 2em;
  padding-bottom: 2em;
  @include full;
  @include standard-font;

  #filter_form{
    @include columns(30, $total-cols);
    #filter_wrapper{
      margin-bottom: 1em;
      @include columns(10, $total-cols);
      .query_filter{ 
        margin-bottom: .75em;
        label{ @include columns(3, 10); }
      }
      input { float: right; }
    }

    #selector_wrapper {
      @include columns(17, $total-cols);
      @include prefix(1);
      padding-top: 0.5em;
    }
    #refresh_wrapper{ @include prefix(1); display:inline-block;}
    filter_spinner{
      @include columns(1, $total-cols);
    }
  }

  @mixin table-base {
    display: table;
    
    @include standard-border;
    tr:nth-child(even) { background-color: white; };
    tr:nth-child(odd) { background-color: $grey-div-color; };
    text-align: center;
    tr.error td{
      text-align: center;
    }
    th {
      @include border-bottom;
      font-size: 120%;    
      text-align: center;
      background-color: $table-hd-color;
      color: $table-hd-text;
      font-weight: bold;
    }
    td {
      text-align: center;
      font-size: 100%;
      a { font-weight: bold; };
    }
  }

  #queries-table {
    @include full;
    @include omega($total-cols);
    @include table-base;
    margin-bottom: 165px;
    tr{
      height: 50px;
    }

    // only display the no-queries-row if it is the first (only) row
    tbody tr#no-queries-row {
      display: none;
    }
    tbody tr:first-child#no-queries-row {
      display: table-row;
    }
  }
  
  #current{
    @include omega;
  }

  .ui-tooltip { @include standard-font; }
  @include standard-font;
  #blur_table_id{ margin-bottom: 15px; }
}

#more-info-table {
  td { color: #555; }
  .more-info-label { white-space: nowrap; font-weight: bold;}
}
