#blur_tables_wrapper{
  margin-top: 2em;
  margin-bottom: 2em;
  @include full;
  @include border-sides;
  @include border-top;
  @include border-radius;

  h3:nth-of-type(even)            {background-color: $shaded_row_color};
  div.blur_table:nth-of-type(odd) {background-color: $shaded_row_color};

  h3.blur_table, .blur_tables_header {
    @include standard-font;
    font-size: 1em;
    text-align: right;
  }

  .blur_tables_header {
    background-color: #C4D9FF;
    @include full($total-cols);
    @include border-top-radius;
    @include border_bottom;
    height: $row-height;
  }

  h3.blur_table { 
    margin-bottom: 0px;
    @include border-top;
    @include border-bottom;
    @include full($total-cols);
    height: $row-height;
    &:hover {
      cursor: pointer;
    }
  }

  div.blur_table {
    height: 42px;
    @include full($total-cols);
    @include border-bottom;
    .location {
      margin-top: 10px;
      margin-bottom: 10px;
      @include columns($total-cols / 2, $total-cols);
    }
    .actions {
      @include standard-font;
      @include columns($total-cols / 2, $total-cols);
      @include omega($total-cols);
      margin-top: 10px;
      margin-bottom: 10px;
      text-align: right;
    }
    .actions form {
      margin: 0px;
      display: inline;
      input {
        margin: 0px;
        margin-right: 10px;
      }
    }
  }

  h3.blur_table:last-of-type {
    @include border-bottom-radius;
  }

  div.blur_table:last-of-type {
    @include border-bottom;
    @include border-bottom-radius;
  }

  span {
    height: 100%;
    text-align: center;
    line-height: $row-height;
  }

  span.hosts, span.count, span.size, span.second, span.status, span.schema {@include columns(3,$total-cols)}
  span.schema { @include omega($total-cols); }

  span.table_name {
    @include columns(12, $total-cols);
    text-align: left;
    font-size: 1.4em;
  }

  .jstree a { @include standard-font; }
}
