$border_color: #AAA;
$border_width: 1px;
$border_style: solid;

$light_background_color: #F0F0F0;

@mixin border        { border:        $border_width $border_style $border_color; }
@mixin border-bottom { border-bottom: $border_width $border_style $border_color; }
@mixin border-top    { border-top:    $border_width $border_style $border_color; }
@mixin border-sides  { border-left:   $border_width $border_style $border_color; 
                       border-right:  $border_width $border_style $border_color; }

@mixin standard-font {
  font-weight: bold;
  color: #555;
}

#blur_tables_wrapper{
  margin-top: 2em;
  margin-bottom: 2em;
  @include full;
  @include columns(30);
  @include omega;
  border: solid 1px #AAA;
  @include border-radius;

  h3:nth-of-type(even)            {background-color: $light_background_color};
  div.blur_table:nth-of-type(odd) {background-color: $light_background_color};

  // Bottom border of last table element
  h3.blur_table:nth-last-of-type(1)  {@include border-bottom-radius;};
  div.blur_table:nth-last-of-type(1) {@include border-bottom-radius;};

  h3.blur_table, .blur_tables_header {
    @include standard-font;
    margin: 0px;
    font-size: 1em;
    text-align: right;
  }

  h3{ @include border-top; }
  h3.blur_table { &:hover { cursor: pointer; } @include columns(31);}

  .blur_tables_header {
    background-color: #C4D9FF;
    @include border-top-radius;
    @include columns(31);
  }
 
  span {
    height: 100%;
    text-align: center;
    line-height: 32px;
  }

  span.hosts, span.shards, span.count, span.size, span.second, span.status {@include columns(3,30); float:right;}

  span.table_name {
    @include columns(9, 30);
    @include alpha;
    text-align: left;
    float: left;
    font-size: 1.4em;
  }

  div.blur_table {
    .schema, .actions, .hosts {
      @include inline-block;
      @include alpha;
      @include standard-font;
      vertical-align: top;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .location { padding-bottom: 10px; }
    .actions form {
      display: inline;
      margin: 0px;
      input { margin: 0px; }
    }
  }

  .jstree a { @include standard-font; }
}
