.status-container
{
   text-align: center;
  letter-spacing: 25px;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 0 30px;
}

.inner-container
{
  width: 45%;
  vertical-align: top;
  display: inline-block;
  text-align: left;
  letter-spacing: 1px;
  overflow: visible;
  white-space: normal;
  padding: 5px;
  margin: 10px;

}
.bottom-status
{
  border: solid 2px #AAA;
  @include border-radius;
}
#bottom-container{

  h3{
    margin-bottom: 10px;
  }
}
