.status-container {
  text-align: center;
  letter-spacing: 25px;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 0px 25px 25px;
}

.inner-container {
  width: 45%;
  vertical-align: top;
  display: inline-block;
  text-align: left;
  letter-spacing: 1px;
  overflow: visible;
  white-space: normal;
  padding: 5px;
  margin: 10px;
}
.bottom-status {
  border: solid 1px #AAA;
  @include border-radius;
  background-color:white;
  margin-right: 10px;
}
#bottom-container {
  margin: 25px;
  padding: 5px;
  .status-container{
    text-align: left ;
  }
}
.titles{
  display: inline-block;
  h2{
    display: inline-block;
    color: #555;
    font-weight: bold;
    font-size: 200%;
  }
}
.outer-container{
  border: solid 1px #AAA;
  @include border-radius;
  background-color:#F6F6F6;
}
