#toolbar_wrapper {
  background: #eee;
  width: 100%;
  @include standard-font;

  #toolbar {
    @include full;
    padding: 5px 0;
    .ui-widget{ font-size: 0.9em; }
    #location, #search {
      padding-top: 0.5em;
      vertical-align: middle;
      display: inline-block;
    }
    #location {
      width: 70%;
      #location_string{ width: 90%; height: 1.5em; }
    }
    #search {
      width: 29%;
      #search_string { width: 70%; height: 1.5em; }
    }
    #go_button, #search_button { vertical-align: top; }
  }
}

#hdfs_wrapper{
  padding-bottom: 165px;
  @include full;
  @include standard-font;

  #hdfs_files_layout {
    @include columns(8,$total-cols);
    overflow: auto;
    margin-top: 2em;
    #hdfs_files { margin-bottom: 95px; }
  }

  #data_wrapper {
    @include columns(22,$total-cols);
    @include omega($total-cols);

    #hdfs_bar{
      @include columns(1,22);
      width: 1em;
      height: 100%;
      background-color: #eee;
      position: fixed;
      z-index: -5;
    }

    #data_container_display {
      @include columns(21,22);
      @include omega(22);
      padding-top: 2em;
      margin-bottom: 95px;
      ul { list-style: none; margin-left: -1.5em; }
      #search_results, #file_info { margin-bottom: 1em; }
    }
  }

  #file_tiles {
    .ui-button {
      margin: 5px;
      width: 150px;
      display: inline-block;
      word-wrap: break-word;
    }
  }

  #file_details_table {
    tr:nth-child(even) { background-color: white; };
    tr:nth-child(odd) { background-color: $grey-div-color; }
    table { margin: 0; @include border;}
    th {
      background-color: $table-hd-color;
      color: $table-hd-text;
    }
    th.name, td.name {text-align: left; }
    th, td {
      @include standard-font;
      text-align: center;
    }
    tr:hover {
      cursor: pointer;
      background: $row-hover;
    }
  }

  .ui-button, a { cursor: pointer; @include standard-font; text-decoration: none; }
  a:hover { color: #06C; }
  .jstree-search { color: $base-theme-color; }

  .icon { height: 32px; width: 32px; }
}


