#hdfs_wrapper{
  padding-bottom: 165px;
  @include full;
  @include standard-font;

  #hdfs_files_layout {
    @include columns(8,$total-cols);
    overflow: auto;
    margin-top: 2em;
    #hdfs_files { margin-bottom: 95px; }
  }

  #data_wrapper {
    @include columns(22,$total-cols);
    @include omega($total-cols);
    #hdfs_bar{
      @include columns(1,22);
      width: 1em;
      height: 100%;
      background-color: #eee;
      position: fixed;
      z-index: -5;
    }

    #data_container_display {
      @include columns(21,22);
      @include omega(22);
    }
  }
  #data_container_display {
    padding-top: 2em;
    margin-bottom: 95px;
    ul { list-style: none; margin-left: -1.5em; }
  }

  #file_tiles {
    .ui-button {
      margin: 5px;
      width: 200px;
      display: inline-block;
    }
  }

  .ui-button, a { cursor: pointer; @include standard-font; text-decoration: none; }
  a:hover { color: #06C; }
  .jstree-search { color: $base-theme-color; }
}

#toolbar_wrapper {
  background: #eee;
  width: 100%;
  @include standard-font;
  #toolbar {
    @include full;
    padding: 5px 0;
    .ui-widget{ font-size: 0.9em; }
    #location {
      padding-top: 0.5em;
      vertical-align: middle;
      #location_string{ width: 50%; height: 1.5em; }
    }
    
    #search_string {
      max-height: 1.5em;
      max-width: 20em;
      min-height: 1.5em;
      min-width: 20em;
      vertical-align: middle;
    }
  }
  #search { float: right; display: inline-block; }
  #search_button { vertical-align: top; margin-top: 4px; }
  #go_button { vertical-align: top; }
}
