#hd {
  height: 50px;
  img {
    margin-top: 12.5px;
    margin-left: 5px;
  }
}

#root {
	overflow: hidden;
}

#bd_background {
	background: white image-url('background-gradient.png') repeat-x top left;
}

#bd_wrap {
	margin-top: -5px;
}

#bd {
  margin: 0 auto 0;
  background-image: image-url('left-shadow.png'), image-url('right-shadow.png');
  background-repeat: no-repeat;
  background-position: 0px 1px, right 1px;
  #bd-pad {
    margin: 0 27px;
		padding: 1em;
		background: white;
		@include min-height(image-height('left-shadow.png') + 10px);
  }
}

#ft {
  $footer-color: lighten($base-theme-color, 20%);
  background-color: $footer-color; 
  text-align: center;
  height: $footer-height - 1px;
  line-height: $footer-height - 1px;
  border-top: 1px solid darken($footer-color, 10%);
  color: darken($footer-color, 40%);
  @include box-shadow(0 1px 0 lighten($footer-color, 10%) inset);
  @include text-shadow(0 -1px 0 lighten($footer-color, 5%));
}

body #nav {
	$header-height: 45px;
	background: transparent image-url('gradient.png') repeat-x 0 -58px;
	@include box-shadow(0 -2px 1px $base-theme-color);
	text-align: right;
	height: $header-height;
	ul {
		@include inline-block-list(10px);
		@include text-shadow(0 1px 0 black);
    margin-right: 55px;

		li {
			margin: 6px .5em 0 .5em;
			padding: 0;
			color: #ddd;
			cursor: pointer;
			&:hover {
				color: #eee;
			}

			&.active {
				color: $base-theme-color;
				@include border-radius(3px);
				@include box-shadow(0 1px 3px rgba(0, 0, 0, 0.5) inset, 0 -1px 0 rgba(255, 255, 255, 0.2) inset);
				background-color: #323c46;
				}
			a {
				cursor: pointer;
				padding: 0.5em 1em;
				line-height: 28px;
				@include unstyled-link;
			}
		}
	}
}
