$header-height: 50px;
$nav-height: 45px;

#top{
  background-color:white;
  position:fixed;
  z-index:2;
  width:100%;
}
#hd {
  height: $header-height;
  z-index:2;
  background-color:white;
  img {
    margin-top: 12.5px;
    margin-left: 5px;
    float: left;
  }
}

#bd_background {
	background: white image-url('background-gradient.png') repeat-x top left;
  background-attachment:fixed;
}

#bd_wrap {
	margin-top: -5px;
}

html,body{ height: 100%; }

#root{ height: 100%; }

#bd {
  position:relative;
  top: $header-height + $nav-height;
  overflow: auto;
  margin: 0 auto 0;
  background-image: image-url('left-shadow.png'), image-url('right-shadow.png');
  background-repeat: no-repeat;
  background-position: 0px 1px, right 1px;
  #bd-pad {
    margin: 0 27px;
                overflow: auto;
		padding: 1em;
		background: white;
		@include min-height(image-height('left-shadow.png') + 10px);
  }
}

#ft {
  $footer-color: lighten($base-theme-color, 20%);
  position:relative;
  top: $header-height + $nav-height;
  background-color: $footer-color; 
  text-align: center;
  height: $footer-height - 1px;
  line-height: $footer-height - 1px;
  border-top: 1px solid darken($footer-color, 10%);
  color: darken($footer-color, 40%);
  @include box-shadow(0 1px 0 lighten($footer-color, 10%) inset);
  @include text-shadow(0 -1px 0 lighten($footer-color, 5%));
  text-align: center;
}

body #nav {
	background: white image-url('gradient.png') repeat-x 0 -58px;
	@include box-shadow(0 -2px 1px $base-theme-color);
	text-align: right;
  width:100%;
	height: $nav-height;
	ul {
		@include inline-block-list(10px);
		@include text-shadow(0 1px 0 black);
    margin-right: 55px;

		li {
			margin: 6px .5em 0 .5em;
			padding: 0;
			color: #ddd;
			cursor: pointer;
			&:hover {
				color: #eee;
			}

			&.active {
				color: $base-theme-color;
				@include border-radius(3px);
				@include box-shadow(0 1px 3px rgba(0, 0, 0, 0.5) inset, 0 -1px 0 rgba(255, 255, 255, 0.2) inset);
				background-color: #323c46;
				}
			a {
				cursor: pointer;
				padding: 0.5em 1em;
				line-height: 28px;
				@include unstyled-link;
			}
		}
	}
}

#user_nav {
  display: block;
  float: right;
  padding: 1.1em 5em 0 0;
  font-size: 1.2em;
}

.flash {
  width: 30%;
  margin: 0 auto;
  padding: .5em 0;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  border: 2px solid;
  border-top-style: none;
  $radius: 5px;
  -webikit-border-bottom-right-radius: $radius; 
  -webikit-border-bottom-left-radius: $radius;
  -moz-border-radius-bottomright: $radius;
  -mox-border-radius-bottomleft: $radius;
  border-bottom-right-radius: $radius;
  border-bottom-left-radius: $radius;
}
#notice {
  $green: #DDFFD9;
  border-color: darken($green, 40%);
  background-color: $green;
}

#alert {
  $yellow: #FFFFC8;
  border-color: darken($yellow, 40%);
  background-color: $yellow;
}
