
#queries-title{
  display: inline-block;
  h2{
    display: inline-block;

    font-size: 200%;
  }
}
#queries-table {
  width: 100%;
  margin:0 0 20px 0;
  tr
  {
    height: 50px;
    th, td{
      text-align: center;
      font-size: 90%;
    }
  }

  tr:nth-child(odd) {background-color: #F0F0F0;}

  #queries-table-header
  {
    background-color: #DDD;
    color: #555;
    th{
      font-weight: bold;
      font-size: 120%;
    }
  }
}


