textarea#q {
  width: 100%;
  height: 50px;
}

.column_family_filter {
  @include inline-block;
  vertical-align: top;
}

table {
	table-layout: strict;
	width: 100%;
        border: solid 1px #AAA;
	empty-cells: show;
	border-spacing: 1px;
	margin-bottom: 0;
	thead {
		th {
			text-align: center;
                        color: #555;
                        font-weight: bold;
                        font-size: 120%;
		}
		
		tr.columnsets th {
			font-weight: normal;
		}
	}

	tbody {
		tr.odd {
			td {
				background-color: #fff;
				&.odd {
        background-color: mix(#fff, #C4d9ff, 80%); 
				}  
			}
		}
		tr.even {
			td {
				background-color: #eee;
				&.odd {
        background-color: mix(#eee, #C4d9ff, 80%);
				}  
			}
	  }
	}
}

.query-title{
  display: inline-block;
  color: #555;
  font-weight: bold;
  font-size: 200%;
  margin-bottom: 15px;
}

#query-page{
  color: #555;
  font-weight: bold;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 25px;
}

.partial-section{
  margin-top: 10px;
  margin-bottom: 10px;
}

.partial-results{
  margin-top: 10px;
  margin-bottom: 10px;
}

#results_section{
  width: 100%;
  border: none;
  overflow: auto;
  background-color : #ffffff;
}

#checkall{
	padding-right:10px;
	padding-left:10px;
	margin-bottom: 10px;
}

#fullscreen{
	float: right;
}

.jstree-icon{
  cursor: pointer;
}

b{
  font-weight:bold
}

#search_submit{
  float: right;
}

.column-title{
  margin-bottom: 10px;
}

.hidden{
  display: none;
}

#loading-spinner{
  float: right;
  padding-right: 10px;
}
