textarea#q {
  width: 100%;
  height: 50px;
}

#queries-title {
  display: inline-block;
  h2 {
    display: inline-block;
    font-size: 200%;
  }
}
#queries-table {
  width: 100%;
  margin:0 0 20px 0;
  tr
  {
    height: 50px;
    th, td{
      text-align: center;
      font-size: 90%;
    }
  }

  tr:nth-child(odd) {background-color: #F0F0F0;}

  #queries-table-header {
    background-color: #DDD;
    color: #555;
    th{
      font-weight: bold;
      font-size: 120%;
    }
  }
}

table {
	table-layout: strict;
	width: 100%;
	empty-cells: show;
	border-spacing: 1px;
	thead {
		th {
			text-align: center;
		}
		
		tr.columnsets th {
			font-weight: normal;
		}
	}

	tbody {
		tr.odd {
			td {
				background-color: #fff;
				&.odd {
        background-color: mix(#fff, #C4d9ff, 80%); 
				}  
			}
		}
		tr.even {
			td {
				background-color: #eee;
				&.odd {
        background-color: mix(#eee, #C4d9ff, 80%);
				}  
			}
	  }
	}
}
