.runtime-graph{
  width: 200px;
  height: 200px;
  border: 1px solid black;
}

.runtime-graph-container {
  text-align: center;
  width: 202px;
  display: inline-block;
  margin: 0 10px 0 10px;
  h4{
    color: #555;
    font-weight: bold;
  }
}

#runtime-graphs {
  text-align: center;
  margin: 20px 0 20px 0;
}

#queries-title {
  margin: 10px 0 -10px 0;
  display: inline-block;
  h2 {
    display: inline-block;
    font-size: 200%;
    color: #555;
    font-weight: bold;
  }
}

#queries-table {
  width: 100%;
  margin:0 0 20px 0;
  tr
  {
    height: 50px;
    th, td{
      text-align: center;
      font-size: 90%;
    }
  }

  tr:nth-child(odd) {background-color: #F0F0F0;}

  #queries-table-header {
    background-color: #DDD;
    color: #555;
    th{
      font-weight: bold;
      font-size: 120%;
    }
  }
}

#runtime-page{
  margin: 15px 20px 20px 20px;
  color: #555;
  font-weight: bold;
}
