.runtime-graph{
  width: 200px;
  height: 200px;
  border: 1px solid black;
}

.runtime-graph-container {
  text-align: center;
  width: 202px;
  display: inline-block;
  margin: auto;
}

#runtime-graphs {
  text-align: center;
}

#runtime-queries {
  margin: 0 20px 0 20px;
}
