
.runtime-graph
{
  width: 40%;
  height: 400px;
  border: 1px solid black;
  display: inline-block;
  margin: 0 auto 0 auto;
  padding: 0;
}

#runtime-graphs
{
text-align: center;
margin: 20px 0 20px 0;
}

#runtime-queries
{
  margin: 0 20px 0 20px;
}
