#search-page h2 {
  color: #555;
  font-size: 200%;
  font-weight: bold;
}

#search-page{
  color: #555;
  font-weight: bold;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 25px;
  height: 100%;
}

.full-page{ width: 100%; left: 0px !important; max-width: 100%; }
.partial-page{ width: 77%; margin-left: 47px; max-width: 77%;}

$filter-width: 200px;
#filter_section{
  width: $filter-width;
  margin-bottom:$footer-height;
  position:fixed;
  overflow:auto;
  top: $nav-height + $header-height;
  display: inline-block;
}

$bar-width: 10px;
#bar_section{
  width: $bar-width;
  height: 100%;
  position: fixed;
  left: $filter-width;
  margin-left: 59px;
  background-color: #eee;
  display: inline-block;
  display: none;
  cursor: pointer;
}

#query_section{
  margin-right: 2px;
  position: relative;
  left: $filter-width + $bar_width;
  width: auto;
  margin-right: 22px;
}

#results_section{
  overflow-x: scroll;
  background-color : #ffffff;
  margin-bottom: 50px;
  border: solid 1px #AAA;
  width: auto;
}

textarea#q {
  width: 320px;
  height: 60px;
}

textarea#a {
  margin-left: 5px;
  width: 50%;
  height:16px;
}

table {
  table-layout: strict;
  width: 100%;
  empty-cells: show;
  display: inline-block;
  margin-bottom: 0;
  thead {
    th {
      text-align: center;
      color: #555;
      font-weight: bold;
      font-size: 120%;
    }
    tr.columnsets th {
      font-weight: normal;
      }
  }
  tbody {
    tr.odd {
      td {
        background-color: #fff;
        &.odd { background-color: mix(#fff, #C4d9ff, 80%); }
      }
    }
    tr.even {
      td {
        background-color: #eee;
        &.odd { background-color: mix(#eee, #C4d9ff, 80%); }
      }
    }
  }
}

.title{
  color: #555;
  font-weight: bold;
  font-size: 200%;
  margin-bottom: 5px;
}
.search-title{
  position:relative;
  top:-11px;
}

.partial-section{
  margin-top: 20px;
  margin-bottom: 20px;
}

#results_container{
  margin-top:25px;
  width: auto;
  position:relative;
}

#checkall{ padding: 0 5px 0 5px; }

.jstree-icon{ cursor: pointer; }

b{ font-weight:bold; }


#loading-spinner{
  float: right;
  padding-right: 10px;
  vertical-align: top;
}

#arrow{
  display: inline-block;
  position: relative;
  top: 50%;
  margin-left: -2px;
  border:none;
}

select#r{ margin-left: 5px; }

.search-input{
  vertical-align: top;
  display:inline-block;
  position:relative;
}

#search_submit{
  display:block;
  position:absolute;
  margin-top:4px;
  right:0;
}

.id_cell{ vertical-align: top; }

.collapsed-bar{
  left: 27px !important;
  margin-left: 0 !important;
}

#filter_columns{ display: none; }
.query-label{
  vertical-align:top;
  display:inline-block;
  margin-right:5px;
}

#q{
  font:inherit;
  font-weight:normal;
  padding:0 2px 0;
}
#query-help-link{
  vertical-align:top;
  cursor:pointer;
}
#hidden-help-container{
 display:none;
}

#query_string{
    min-width: 350px;
}
