#search-page{
  color: #555;
  font-weight: bold;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 25px;
  height: 100%;
  overflow: auto;
}

#query_section{
  display: inline-block;
  float: right;
  margin-right: 2px;
}
.full-page{ width: 98%; }
.partial-page{ width: 80%; }

#search_form{ height: 100%; }

#filter_section{
  width: 18%;
  float:left;
  display: inline-block;
  height: 100%;
}

#bar_section{
  width: 1%;
  background-color: #eee;
  display: inline-block;
  cursor: pointer;
}

#results_section{
  width: 100%;
  overflow-x: scroll;
  background-color : #ffffff;
  margin-bottom: 30px;
  border: solid 1px #AAA;
}

textarea#q {
  width: 50%;
  height: 32px;
}

textarea#a {
  margin-left: 5px;
  width: 50%;
  height:16px;
}

table {
  table-layout: strict;
  width: 100%;
  empty-cells: show;
  display: inline-block;
  margin-bottom: 0;
  thead {
    th {
      text-align: center;
      color: #555;
      font-weight: bold;
      font-size: 120%;
    }
    tr.columnsets th {
      font-weight: normal;
      }
  }
  tbody {
    tr.odd {
      td {
        background-color: #fff;
        &.odd { background-color: mix(#fff, #C4d9ff, 80%); }
      }
    }
    tr.even {
      td {
        background-color: #eee;
        &.odd { background-color: mix(#eee, #C4d9ff, 80%); }
      }
    }
  }
}

.search-title{
  display: inline-block;
  color: #555;
  font-weight: bold;
  font-size: 200%;
  margin-bottom: 5px;
}

.filter-title{
  display: inline-block;
  color: #555;
  font-weight: bold;
  font-size: 150%;
  margin-top: 5px;
}

.partial-section{
  margin-top: 15px;
  margin-bottom: 15px;
}

.partial-results{
  margin-top: 10px;
  margin-bottom: 10px;
}

#checkall{
  padding-right:5px;
  padding-left:5px;
}

.jstree-icon{ cursor: pointer; }

b{ font-weight:bold; }

.column-title{ margin-bottom: 5px; }

#loading-spinner{
  float: right;
  padding-right: 10px;
}

.half-section{
  display: inline-block;
  vertical-align: top;
  height: 100%;
}

#arrow{
  display: inline-block;
  position: fixed;
  top: 50%;
  margin-left: -2px;
}

select#r{ margin-left: 5px; }

.search-input{ vertical-align: top; }

#search_submit{
  float: right;
  margin-right: 10px;
}
