#admin_wrapper, #new_user_wrapper, #edit_user_wrapper, #show_user_wrapper{
  @mixin info($color) {
    @include border;
    @include border-radius;
    background-color: $color;
  }
  
  @mixin pref-box{
    @include info(white);
    margin:10px 0px 10px 0px;
    padding:10px 5px 10px 5px;
  }
   
  @include full;
  @include standard-font;

  margin-top: 1em;
  padding-top: 2em;

  #roles_wrapper {@include alpha; }
  
  .info-contain{ 
    @include full($total-cols); 
    @include clearfix;
    }
  
  //user info box
  #user-info{
    @include info(#EEE);
    padding:5px;
    @include columns(5, $total-cols);
    @include omega;
    p{
      margin-top:5px;
      margin-bottom:5px;
    }
  }
  
  //pref-col box
  #pref-col-info{
    padding:5px;
    @include info(#EEE);
    @include columns(23, $total-cols);
    @include alpha;
  }
  
  //pref col - holds your choices
  #pref-col{
    @include columns(4, 23);
    @include alpha;
    @include info(white);
  }
  
  //opt-col - options to choose that will go into my list
  #opt-col{
    @include info(white);
    @include columns(18, 23);
  }
  
  //groups of columns
  .cols{
    padding:5px;
    margin:5px;
    //@include info(#C4D9FF);
    display:inline-block;
    @include columns(5.75, 18);
  }
  
  ul{
    padding:0px;
    margin:0px;
  }
  
  li{
    padding: 2px;
    margin:2px;
    list-style: none;
    @include info(#C4D9FF);
  }
  
  .section-label{
    text-align:center;
  }
  
  .my-select{
    background-color:#FAD08A;
  }
  
  #no-saved{
    text-align:center;
    font-weight:200;
  }
  
  .fam{
    cursor:pointer;
  }
  
  .sel-fam{
    cursor:grab;
    cursor:grab;
    cursor:-moz-grab;
    cursor:-webkit-grab;
  }
}
