#admin_wrapper, #new_user_wrapper, #edit_user_wrapper, #show_user_wrapper{
  @mixin info($color) {
    @include border;
    @include border-radius;
    background-color: $color;
  }
  
  @mixin pref-box{
    @include info(white);
    margin:0px 0px 0px 0px;
  }
   
  @include full;
  @include standard-font;

  $select-color: #FAD08A;

  margin-top: 1em;
  padding-top: 2em;

  #users_table { @include columns(15,$total-cols); @include suffix(15); }

  #roles_wrapper {@include alpha; }
  
  .info-contain{ 
    @include full($total-cols); 
    @include clearfix;
    min-width: 580px;
  }
  
  //user info box
  #user-info{
    @include info(#EEE);
    @include columns(5, $total-cols);
    float: right;
    min-width: 175px;
    margin-top:2px;
    p{
      margin: 5px;
    }
  }
  
  #pref-bin{
    @include columns(4, 10);
    @include clearfix;
  }
  
  #pref-trash, #pref-key{
    @include pref-box;
    margin-top:5px;
  }

  #pref-key {
    padding: 5px;
    #orange_color, #blue_color {
      height: 10px;
      width: 10px;
      display: inline-block;
    }
    #orange_color { @include info($select-color); }
    #blue_color { @include info($table-hd-color); }
  }
  
  #actual-trash{
    div:not(#trash){
      display:none;
    }
  }
  
  //pref-col box
  #pref-col-info{
    padding:5px;
    @include info(#EEE);
    @include columns(10, $total-cols);
    min-width: 300px;
  }
  
  //pref-filter box
  #pref-filter-info{
    padding:5px;
    @include info(#EEE);
    @include columns(5, $total-cols);
    min-width: 250px;
    
    h3{
      text-align: center;
    }
    
    .query_filter label{
      @include columns(2, 5);
    }
  }
  
  //pref col - holds your choices
  #pref-col{
    @include pref-box;
  }
  
  //opt-col - options to choose that will go into my list
  #opt-col{
    @include info(white);
    @include columns(5.9, 10);
    @include pref-box;
    float: right;
  }
  
  //groups of columns
  .fam{
    padding:5px;
    margin:5px;
    cursor:pointer;
    padding: 2px;
    margin:2px;
    @include info($table-hd-color);
  }
  
  ul{
    padding:0px;
    margin:0px;
  }
  
  .section-label{
    text-align:center;
  }
  
  .my-select{
    background-color:$select-color;
  }
  
  #no-saved, #trash{
    text-align:center;
    font-weight:200;
  }
  
  .sel-fam{
    cursor:grab;
    cursor:grab;
    cursor:-moz-grab;
    cursor:-webkit-grab;
    
    @include info($select-color);
    padding:2px;
    margin:2px;
  }
}

body{
  //@include susy-grid-background;
}
