#zookeeper_wrapper {
  margin-top: 2em;
  @include full;

  @mixin outer-container {
    @include border;
    @include border-radius;
    margin-bottom: 2em;
    background-color: #F0F0F0;
  }

  @mixin inner-container {
    @include border;
    @include border-radius;
    background-color: #FFFFFF;
    margin-bottom: 2em;
  }

  #blur, #zookeeper {
    @include outer-container;
  }

  #zookeeper {
    @include columns(30,$total-cols);
    td.label {
      font-weight: bold;
    }
    table {
      @include prefix(0.25);
      @include columns(29.5);
    }
  }

  #blur {
    @include columns(30,$total-cols);
    margin-bottom: 165px;

    #controllers, #shards{ @include columns(14.25, $total-cols); }
    .blur_container{ @include inner-container; @include prefix(0.25);}
    #controllers{ @include prefix(0.25); }
    #shards{ @include omega($total-cols); @include suffix(0.25);}
  }

  h2 { @include prefix(0.25) }
  h3 { margin-top: 0.5em; }

  .ui-state-highlight, .ui-state-error, .ui-state-yellow {
    text-align:center;
    margin: 5px;
    width: 100px;
  }

  h4.name, .ui-state-highlight, .ui-state-error, .ui-state-yellow { display: inline-block; }
}

#zookeepers_wrapper{
  display: none;
  @include full;
  @include standard-font;
  padding-top: 2em;
  padding-bottom: 165px;

  .a_zookeeper{
    @include columns(14, $total-cols);
    @include prefix(0.5, $total-cols);
    .zookeeper_info {
      width: 100%;
      @include standard-border;
      display: inline-block;

      table{
        width: 100%;
        .ui-icon-green { margin: 0 auto; }
        th { font-size: 1.2em; @include border-top-radius; border: none; }
        td { @include standard-font; }
        td.index { @include columns(2.75, 14); }
        td.cont, td.shard { @include columns(5, 14); text-align: center; }
        td.shard { @include omega(14); }
      }
    }
  }

  h2 { @include columns(15, $total-cols); }
  .warning { margin: 0; @include columns(13, $total-cols); @include omega($total-cols); text-align: right;}

  #zookeepers { @include columns(30,$total-cols); height: 100%; padding-bottom: 85px; }
  #old_queries { @include columns(30,$total-cols); margin-bottom: 165px; }

  .ui-state-highlight, .ui-state-error, .ui-state-yellow { margin-bottom: 5px; }
}

.warning { color: #b81900; font-weight: bold; }
