$base-theme-color: #f6a828;

$red-state-color: #B81900;
$red-border-color: #CD0A0A;
$green-border-color: #62A630;

$table-hd-color: #E4EDFF;
$table-hd-text: #667495; 

$grey-color: #EEEEEE;
$grey-div-color: #F0F0F0;

$row-hover: #FFE4A3;

$font-color: #555;
$border_color: #999;
$zk-header-color: #93A7AC;

$border_width: 1px;
$border_style: solid;

$twitter-border: 1px solid #ccc;

// Page settings
$footer-height: 45px;

html{
  height: 100%;
  padding-bottom: 45px;
  box-sizing: border-box;
  overflow: auto;
}
#modal{
	max-height:500px;
	overflow:none;
	.modal-body{
		max-height:440px;
		overflow-y:scroll;
		margin-bottom:60px;
	}
	.modal-footer{
		position:absolute;
		bottom:0px;
		width: 530px;
	}
}

// Tree overrides
ul.dynatree-container {
	background-color: inherit !important;
	color: inherit !important;
	border: none !important;
}