#queries-table_wrapper > .row:first-child > div:last-child {
  float: right;
}

#blur_queries_wrapper {
  padding-top: 2em;
  padding-bottom: 2em;
  @include standard-font;
  @include clearfix;
  .dataTables_filter{ 
    width: 100%;
		float: right;
    input{ width: 96%; }
  }
	dataTables_info {
	  padding-top: 8px;
	}
  .row > *:first-child {
    vertical-align: top;
    padding-top: 15px;
    a {
      margin-right: 5px;
      &.selected {
        color: black;
        &:hover { text-decoration: none; }
      }
      &.unselected { text-decoration: underline; }
    }
  }
  .range_select{
    select{ width: 100px; }
  }
  #refresh-queries{ margin: -6px 0; }
  .dataTables_processing {
    padding-top: 8px;
  }
  #queries-table{
    table-layout:fixed;
    font-weight: normal;
    td{
      vertical-align: middle;
      word-wrap: break-word
    }
    .cancel_query_button{ margin: 0; }

    form.cancel {
			display: inline-block;
			@include ie7-inline-block;
      margin-right: 3px;
      margin-bottom: 0;
    }
    tbody tr:not(.oldRunning){
      & + .oldRunning, .oldRunning:first-child{
        td{
          border-top: 1px solid #FF0000;
        }
      }
      height: 45px;
    }
    .oldRunning{
      td{
        background: rgba(247, 225, 225, 0.8);
        border-bottom: 1px solid #FF0000;
      }
    }
  }
}

#more-info-table {
  td { color: #555; }
  .more-info-label { white-space: nowrap; font-weight: bold;}
}
