#blur_tables {
  width: 99%;
  border: none;
  margin: 15px 10px 0;
  table { margin-bottom: 5px; }
  .active a, .active a:hover{ background-color:#FAFCFF; }
}
#tables-wrapper{ border: $twitter-border; padding:10px; }

.cluster-tabs{
  margin:15px 0;
  .active a, .active a:hover{ background-color:#FAFCFF; }
}
.bulk-action-selector{ margin: 10px 5px 10px 0px; }
tr.highlighted-row td{ background:#FAD08A !important; }
.live-col > a{
  color: $green-border-color ! important;
}
.disabled-col > a{
  color: $red-border-color ! important;
}


