@mixin box-title {
  position:absolute;
  display:block;
  top:-18px;
  left:20px;
  background:#fff;
}

@mixin zoo-widget {
  border-top:$twitter-border;
  padding-top:20px;
  position:relative;
}

@mixin zoo-status {
	text-align: center;
  display: inline-block;
  padding:1px 15px 1px;
  margin: 2px 0 2px;
  &.important{font-style:italic;}
}

#zookeepers_wrapper, #hdfs_dash_wrapper {
  @include standard-font;
  @include zoo-widget;
  margin-top: 2em;

  .zookeeper_info, .hdfs_info {
    width: 450px;
    margin: 0px 10px 20px 20px;
    display: inline-block;
    border: 1px solid;
    font-size: 15px;
    border-color: $blue-dashboard-color;
    @include border-radius(5px);

    table{ margin:0; width:100%; }
    table tbody th { text-align:center; vertical-align:middle; }
    .status-bar{ @include border-radius() }

    &:hover{
      cursor: pointer;
      background: #F4F5F6;
    }
  }

  .zookeeper-title, .hdfs-title{
    font-size:125%;
    padding: 5px 10px;
    margin:0;
    text-align: left;
		@include border-radius-bottom(0);
  }

  .zookeeper-body, .hdfs-body {
    width: 430px;
    margin: 10px;
    td {text-align: center;}
    .zookeeper-cont-info, .zookeeper-shard-info {
      width: 65px;
      .zk-shard-info{
        vertical-align: middle;
        text-align: right;
      }
      .zk-cont-info{
        vertical-align: middle;
        text-align: left;
      }
    }
    .hdfs-chart { margin-left: 30px; }
    .cont-chart, .shard-chart{
      margin-left: 5px;
    }
    .icon-check, .icon-x {
      width: 12px;
      height: 12px;
      background-image: none;
    }
    .query-warning{
      color: $red-dashboard-color;
      margin-top: 10px;
    }
    .hdfs-legend{
      .legend-box{
        width: 12px;
        height: 12px;
        float: left;
        margin: 2px 5px 0 0;
        border: 1px solid $border_color;
      }
      h6{ float: left; }
      .healthy{ background-color: $green-dashboard-color; }
      .corrupt{ background-color: $blue-chart-dashboard-color; }
      .missing{ background-color: $red-dashboard-color; }
      .under-replicated{ background-color: $yellow-dashboard-color; }
    }
    h6{ color: $font-color; }
    .inconsistent-BV{ color: $red-dashboard-color; }
    .zk-chart{
      $zk-width: 135px;
      width: $zk-width;
      line-height: $zk-width;
      height: $zk-width;
      position: relative;
      text-align: center;
    }
    .hdfs-chart-container{
      $hdfs-width: 175px;
      width: $hdfs-width;
      line-height: $hdfs-width;
      height: $hdfs-width;
      position: relative;
      text-align: center;
    }
    .chart-title, .hdfs-legend{
      z-index: 1;
      .legend{
        line-height: 18px;
        margin-top: -122px;
        margin-left: 80px;
        z-index: 1;
      }
      .chart-title-text{
        margin-top: -136px;
        z-index: 1;
      }
    }
    .hdfs-chart { margin-top: -50px }
    .hdfs-bar-container {
      width: 130px;
      padding-right: 20px;
    }
  }

  #zookeepers,#hdfses{ height: 100%; }
	h2 { color: $zk-header-color; @include box-title;}
  .shards, .controllers, .blocks, .usage{
    text-align: center;
    width: 50%;
    div{
      height: 20px;
    }
  }

  .progress-status{
    &.compare{ @include danger-progress-background; }
    background-image: none;
    background-color: $faded-blue-dashboard-color;
    position: relative;
    margin: 0px;
    .bar{
      @include border-radius();
      background-image: none;
    }
  }

  span.title-subtle{
    float: right;
    opacity: .7;
  }

  .label{
    background-color: $blue-dashboard-color;
    width: 430px;
  }
}
