@mixin box-title{
  position:absolute;
  display:block;
  top:-18px;
  left:20px;
  background:#fff;
}

@mixin zoo-widget{
  border-top:$twitter-border;
  padding-top:20px;
  position:relative;
}

@mixin zoo-status {
	text-align: center;
  display: inline-block;
  padding:1px 15px 1px;
  margin: 2px 0 2px;
  &.important{font-style:italic;}
}

#zookeepers_wrapper, #hdfs_dash_wrapper{
  @include standard-font; 
  @include zoo-widget;
  margin-top: 2em;

  .zookeeper_info, .hdfs_info {
    width: 500px;
    margin: 0px 10px 20px 20px;
    display: inline-block;
    border: 1px solid;
    font-size: 15px;
    @include border-radius(5px);
    &.online{ border-color: $green-border-color; }
    &.offline{ border-color: $red-border-color; }
    &.warning{ border-color: #F9A732;}
    table{ margin:0; width:100%; }
    table tbody th { text-align:center; vertical-align:middle; }
    tbody{ margin: 10px; }
    .status-bar{ @include border-radius() }

    &:hover{
      cursor: pointer;
      background: #FFFCD6;
    }
  }
  .center{
    text-align:center;
  }
  .zookeeper-title, .hdfs-title{
		@include zoo-status;
    font-size:125%;
    padding: 5px 10px;
    margin:0;
    display:table-cell;
    text-align: left;
		@include border-radius-bottom(0);
  }
  td div.warning{
    height: 18px;
    text-align: center;
    color: white;
    @include border-radius;
    &:hover{ opacity: .9; }
  }
  .status{ width:160px; @include zoo-status; }
  #zookeepers,#hdfses{ height: 100%; }
	h2 { color: $zk-header-color; @include box-title;}
  .shards, .controllers, .blocks, .usage{
    text-align: center;
    width: 50%;
    div{
      height: 20px;
    }
  }

  .progress-status{
    &.compare{ @include danger-progress-background; }
    @include neutral-progress-background;
    position: relative;
    margin: 0px;
    .bar{
      @include border-radius();
    }
    span{
      position: absolute;
      color: white;
      top: 0px;
      &.online-nodes, &.live-nodes{ left: 5px; }
      &.offline-nodes, &.dead-nodes{ right: 5px; }
    }
  }

  span.title-subtle{
    float: right;
    opacity: .7;
  }
}