$instance_height: 300px;
$title_height: 35px;
$graph_height: $instance_height - $title_height;

@mixin graph_component{
	display: inline-block;
	@include box-sizing(border-box);
}

@mixin clickable_title{
	height: $title_height;
	h3{ line-height: $title_height; }
	text-align: center;
	border: 1px solid #ccc;
	@include gradient-vertical(#fff, #F4F4F4);
}

@mixin clickable{
	cursor: pointer;
	&:hover{
		opacity: .6;
	}
}

#metrics_page_wrapper {
	.create_graph_prompt{
		margin-top: 10px;
		@include clickable_title;
		@include clickable;
	}
	.joined_instance{
		.graph_title{
			position: relative;
			i{
				position: absolute;
				top: 10px;
				right: 10px;
				@include clickable;
			}
		}
	}

	.graph_instance, .joined_instance {
		margin: 10px 0 10px 0;
		position: relative;
		height: $instance_height;
		&:not(:last-child){
			.graph_content{
				border-bottom: none;
			}
		}
		.graph_title{
			@include clickable_title;
			border-bottom: none;
		}
		.graph_content{
			@include graph_component;
			width: 100%;
			height: $graph_height + 35;
			border: 1px solid #ccc;
			position: absolute;
			.graph_data{
				@include box-sizing(border-box);
				width: 100%;
				padding: 10px 10px 0 10px;
				.graph{
          margin: 5px 5px 5px 5px;
					height: $graph_height - 20;
				}
			}
      .slider{
        width: 300px;
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 10px 60px;
      }
      .slider-info{
        position: absolute;
        right: 420px;
        bottom: 10px;
        width: 400px;
        height: 20px;
        text-align: right;
      }
		}
	}
  .loading-spinner {
    float: left;
    position: absolute;
    padding: 9px 0 0 9px;
  }
}

