$nav-height: 40px;

#root{
  #top{
    z-index:2;
    width:100%;
    #hd {
      top: 0px;
      z-index: 2;
      position: relative;
      #logo{
        padding-top: 1.25em;
        display: inline-block;
      }
      #flash {
        text-align: center;
        font-size: 1.2em;
        font-weight: bold;
        top: $nav-height;
        position: absolute;
        width: 100%;
        div{
          display: inline-block;
          padding: 10px 20px 10px 20px;
          @include border-radius-top(0px);
        }
      }
    }
  }
	.navbar-inner {
		background: transparent url('gradient.png') repeat-x 0 -58px;
		@include border-radius(0);
		height: $nav-height;
		> ul li {
			&.active > a{
				color: $base-theme-color;
				background-color: transparent;
			}
		}
    #zookeeper_select > select{
      margin: 6px;
    }
	}
  #bd {
    @include clearfix;
    position:relative;
    padding-bottom: 46px;
  }
}

#ft {
  bottom: 0;
  position:fixed;
  z-index:2;
  width: 100%;
  $footer-color: lighten($base-theme-color, 20%);
  background-color: $footer-color;
  text-align: center;
  height: $footer-height;
  line-height: $footer-height - 1;
  border-top: 1px solid darken($footer-color, 10%);
  @include box-shadow(0 1px 0 lighten($footer-color, 10%) inset);
  text-align: right;
  &.expiring_license {
    background-color: $red-state-color;
    color: $grey-color;
    p, p a {
      color: $grey-color;
    }
  }
  
  #license {
    float: left;
    margin-top: 15px;
    margin-left: 50px;
  }
  #company-info {
    float: right;
    margin-top: 15px;
  }
  p{
    color: darken($footer-color, 40%);
    text-decoration: none;
    margin-right: 50px;
  }
}