$header-height: 55px;
$nav-height: 40px;

#root{

  #top{
    background-color:$bg-blue-color;
    z-index:2;
    width:100%;
    #hd {
      top: 0px;
      height: $header-height;
      z-index: 2;
      position: relative;
      #logo{
        padding-top: 1.25em;
        display: inline-block;
      }
      #flash {
        @include border-bottom-radius;
        text-align: center;
        font-size: 1.2em;
        font-weight: bold;
        top: 7px;
        position: absolute;
        width: 100%;
        div{
          display: inline-block;
          padding: 10px 20px 10px 20px;
        }
      }
      #zookeeper_select {
        text-align: center;
        top: 10px;
        position: absolute;
        width: 100%;
      }
      #change_current_zookeeper{
        margin-bottom:0px;
      }
      #user_nav {
        font-size: 1.2em;
        display: inline-block;
        position: absolute;
        top: 15px;
        right: 25px;
      }
    }
    #nav {
      background: transparent image-url('gradient.png') repeat-x 0 -58px;
      @include box-shadow(0 -2px 1px $base-theme-color);
      text-align: right;
      width:100%;
      height: $nav-height;
      ul {
        @include inline-block-list(10px);
        @include text-shadow(0 1px 0 black);

        li {
          margin: 6px .5em 0 .5em;
          padding: 0;
          color: $lightblue-color;
          cursor: pointer;
          &:hover {
            color: #eee;
          }

        &.active {
          color: $base-theme-color;
          @include border-radius(25px);
          @include box-shadow(0 1px 3px rgba(0, 0, 0, 0.5) inset, 0 -1px 0 rgba(255, 255, 255, 0.2) inset);
          background-color: #323c46;
          }

        a {
          cursor: pointer;
          padding: 0.5em 1em;
          line-height: 28px;
          @include unstyled-link;
          }
        }
      }
    }
  }
  #bd {
    @include clearfix;
    position:relative;
    padding-bottom: 46px;
  }
}

#ft {
  bottom: 0;
  position:fixed;
  z-index:2;
  width: 100%;
  $footer-color: lighten($base-theme-color, 20%);
  background-color: $footer-color;
  text-align: center;
  height: $footer-height;
  line-height: $footer-height - 1;
  border-top: 1px solid darken($footer-color, 10%);
  @include box-shadow(0 1px 0 lighten($footer-color, 10%) inset);
  @include text-shadow(0 -1px 0 lighten($footer-color, 5%));
  text-align: right;
  &.expiring_license {
    background-color: $red-state-color;
    color: $grey-color;
    @include text-shadow(0 0 0 $red-state-color);
    p, p a {
      color: $grey-color;
    }
  }
  
  #license {
    float: left;
    margin-top: 10px;
    margin-left: 50px;
  }
  #company-info {
    float: right;
    margin-top: 10px;
  }
  p{
    color: darken($footer-color, 40%);
    text-decoration: none;
    margin-right: 50px;
  }
}

#notice {
  @include border;
  @include border-bottom-radius;
  border-color: darken(#DFD, 20%);
  background-color: #DFD;
  padding-top: .75em;
  font-size: 1.2em;
  color: #555;
}

#alert {
  @include border;
  @include border-bottom-radius;
  $yellow: #FFFFC8;
  border-color: darken($yellow, 10%);
  background-color: $yellow;
  padding-top: .75em;
  font-size: 1.2em;
}
