@mixin box-title{
  position:absolute;
  display:block;
  top:-18px;
  left:20px;
  background:#fff;
}

@mixin zoo-widget{
  border:$twitter-border;
  @include border-radius(5px);
  padding-top:20px;
  position:relative;
}

@mixin zoo-status {
	text-align: center;
  display: inline-block;
  padding:1px 15px 1px;
  margin: 2px 0 2px;
  &.important{font-style:italic;}
}

#zookeeper_wrapper {
  margin-top: 2em;
  #blur, #zookeeper{ margin-bottom: 2em; }
  #zookeeper {
    @include zoo-widget;
    table{ text-align: left; margin-left: 10px; }
  }
  #blur {
    @include zoo-widget;
    #controllers, #shards{ padding: 5px; box-sizing: border-box; }
    ul{ list-style-type: none; }
    .blur_container{ margin-bottom: 2em }
  }
  .status{ width:75px; @include zoo-status;}
	h2 { color: $zk-header-color; @include box-title;}
  h3 { margin-top: 0.5em; border-bottom: $twitter-border;}
}

#zookeepers_wrapper, #hdfs_dash_wrapper{
  display: none;
  @include standard-font; 
  @include zoo-widget;
  margin-top: 2em;

  .zookeeper_info, .hdfs_info {
    width: 500px;
    margin: 0px 10px 20px 20px;
    float: left;
    display: inline-block;
    border: 1px solid;
    @include border-radius(5px);
    &.online{ border-color: $green-border-color; }
    &.offline{ border-color: $red-border-color; }
    &.wrning{ border-color: #F9A732;}
    table{ margin:0; width:100%; }
    table tbody th { text-align:center; vertical-align:middle; }
  }
  .zookeeper_info, .hdfs_info{
    &:hover{
      cursor: pointer;
      background: #FFFCD6;
    }
  }
  .center{
    text-align:center;
  }
  .zookeeper-title, .hdfs-title{
		@include zoo-status;
    font-size:125%;
    padding: 5px 10px;
    margin:0;
    display:table-cell;
    text-align: left;
		@include border-radius-bottom(0);
  }
  td div.warning{ height: 18px; text-align: center; }
  .status{ width:160px; @include zoo-status; }
  #zookeepers,#hdfses{ height: 100%; }
	h2 { color: $zk-header-color; @include box-title;}
  .number, .word, .zookeeper-name, .zookeeper-status { display: inline-block; }
  .number {width: 20px; text-align: right; }
  .word {width: 130px; text-align: left;}
}

.grey_box { background-color: $grey-color; @include border; }

.progress-up-down {
  background-color: #DD514C;
  background-image: -moz-linear-gradient(center top , #EE5F5B, #C43C35);
  position: relative;
  display: inline-block;
  width: 190px;
  margin-bottom: 0;
  .bar.up {
    background-color: #5EB95E;
    padding-left: 10px;
    text-align: left;
    background-image: -moz-linear-gradient(center top , #62C462, #57A957);
  }
  .down {
    padding-right: 10px;
    position: absolute;
    width: 50%;
    text-align: right;
    right: 0;
    top: 0;
  }
}