.hdfs_info
  %table.hdfs_table{:id => "#{hdfs.id}"}
    %thead
      %tr
        %th.hdfs-title{ :colspan => 2}
          .hdfs-name
            = hdfs.name + " - "
            %span.hdfs-host
              =hdfs.host
      	

    %tbody
      %tr
        %th{:colspan => 2}
          Blocks
      %tr
        %td.center
          .blocks-corr.label.status.center
            %span.number
              0
            Currupt Blocks
        %td.center
          .blocks-miss.label.status.center
            %span.number
              0
            Missing Blocks
      %tr
        %th{:colspan => 2}
          Nodes
      %tr.node-access-row
        %th{:colspan => 2}
          Cannot access Live/Dead Nodes
      %tr.node-row
        %td.center
          .nodes-live.label.status.center
            %span.number
              0
            Live Nodes
        %td.center
          .nodes-dead.label.status.center
            %span.number
              0
            Dead Nodes
      %tr
        %td.center{:colspan => 2}
          .nodes-under.label.status.center
            %span.number
              0
            Under Replicated Nodes
      %tr
        %td{ :colspan => 2 }
          .warning
