#zookeepers
  - @zookeepers.each do |zookeeper|
    .a_zookeeper
      .zookeeper_info
        %table{:id => "#{zookeeper.id}" }
          %thead
            %tr
              %th{:status => 1 }
                = zookeeper.name
          %tbody
            %tr
              %td.index
              %td.cont
                Controllers
              %td.shard
                Shards
            %tr
              %td.index
                blur version
              %td.cont
                .bv-cont
                  .ui-icon-green.ui-icon-check
                  .ui-state-error.ui-corner-all{:style => "display:none;"}
                    Inconsistent Blur Versions
              %td.shard
                .bv-shard
                  .ui-icon-green.ui-icon-check
                  .ui-state-error.ui-corner-all{:style => "display:none;"}
                    Inconsistent Blur Versions
            %tr
              %td.index
                status
              %td.cont
                .stat-cont
                  .ui-icon-green.ui-icon-check
                  .ui-state-yellow.ui-corner-all{:style => "display:none;"}
                    Controllers Disabled
                  .ui-state-error.ui-corner-all{:style => "display:none;"}
                    Controllers Offline
              %td.shard
                .stat-shard
                  .ui-icon-green.ui-icon-check
                  .ui-state-yellow.ui-corner-all{:style => "display:none;"}
                    Shards Disabled
                  .ui-state-error.ui-corner-all{:style => "display:none;"}
                    Shards Offline
