.zookeeper_info
  %table{:id => "#{zookeeper.id}" }
    %thead{:id => zookeeper.id}
      %tr
        %th.zookeeper-title.label{ :colspan => 3 }
          .zookeeper-name
            = zookeeper.name
          .zookeeper-status
            = case zookeeper.status; when 0 then "Offline"; when 1 then "Online"; else "Not Available"; end

    %tbody
      %tr
        %td.index
        %th.cont.center
          Controllers
        %th.shard.center
          Shards
      %tr
        %th.index.center
          Blur Version
        %td.cont
          .bv-cont
            .controllers-bv.label.status
              No Controllers Available
        %td.shard
          .bv-shard
            .shards-bv.label.status
              No Shards Available
      %tr
        %th.index.center
          Status
        %td.cont
          .stat-cont
            .controllers-online.label.status
              .number
                0
              .word
                Contollers Online
            %br
            .controllers-offline.label.status
              .number
                0
              .word
                Controllers Offline
        %td.shard
          .stat-shard
            .shards-online.label.status
              .number
                0
              .word
                Shards Online
            %br
            .shards-offline.label.status
              .number
                0
              .word
                Shards Offline
      %tr
        %td{ :colspan => 3 }
          .warning
