#zookeepers
  - @zookeepers.each do |zookeeper|
    .a_zookeeper
      .zookeeper_info
        %table{:id => "#{zookeeper.id}" }
          %thead
            %tr
              %th{:status => 1 }
                %h4= zookeeper.name
          %tbody
            %tr
              %td.index
              %td.cont
                Controllers
              %td.shard
                Shards
            %tr.bv
              %td.index
                blur version
              %td.cont{:status => 2 }
                .ui-icon.ui-icon-check
              %td.shard{:status => 2 }
                .ui-icon.ui-icon-check
            %tr.stat
              %td.index
                status
              %td.cont
                .stat-cont.ui-icon.ui-icon-check{:status => 2 }
              %td.shard
                .stat-shard.ui-icon.ui-icon-check{:status => 2 }
