- content_for :title, 'Blur Status'
- content_for :javascript do
  = javascript_include_tag 'compiled/zookeepers'

#zookeepers_wrapper
  %h2 Zookeepers

  %h4.warning

  - if @zookeepers
    = render 'zookeepers'
  - else
    %h4 No Zookeeper Instances Available
