- content_for :title, 'Blur Status'
- content_for :javascript do
  = javascript_include_tag 'zookeepers'

#zookeepers_wrapper
  %h2 Zookeepers

  - if @zookeepers.any?
    #zookeepers
      = render @zookeepers
  - else
    %h4 No Zookeeper Instances Available
  .clearfix
    
