- content_for :title, 'Environment Status'
- content_for :javascript do
  = javascript_include_tag 'compiled/zookeepers'

#zookeepers_wrapper
  .zookeeper_select
    = form_tag zookeeper_path, :id => 'change_current_zookeeper',  :method => :get, :remote => :true do
      %b Current Zookeeper Instance:
      = select_tag( :id, options_from_collection_for_select( @zookeepers, :id, :name, @current_zookeeper.id ), :id => 'zookeeper_id' )

  = render 'zookeeper'
