- content_for :title, 'Environment Status'
- content_for :javascript do
  = javascript_include_tag 'compiled/zookeeper'

#zookeeper_wrapper
  - if @zookeeper
    = render 'zookeeper', :zookeeper        => @zookeeper,
                          :controller_nodes => @controller_nodes,
                          :shard_nodes      => @shard_nodes

  - else
    No Zookeeper Instances Available
