- content_for :title, 'Environment Status'
- content_for :javascript do
  = javascript_include_tag 'environment'

#zookeeper_wrapper
  #zookeeper.btn-success
    %h2.zookeeper-name
      = @current_zookeeper.name.capitalize + " - " + @current_zookeeper.translated_status
      .connection-url
        = @current_zookeeper.url
      %i.icon-remove-sign.icon-white.confirm-action{:title => "Remove This Zookeeper", 'data-reload' => 'true', 'data-message' => 'remove this zookeeper'}
  #blur
    .row
      #controllers.span6
        %h2
          Controllers
        -unless @current_zookeeper.controllers.empty?
          %table.table.table-bordered
            %thead
              %tr
                %th Name
                %th Blur Version
                %th
            %tbody
              - @current_zookeeper.controllers.sort_by{|c| c.node_name}.each do |controller|
                %tr{'data-controller-id' => controller.id, :class => ('error error-failure' if controller.status == 0)}
                  %td
                    =controller.node_name
                  %td
                    =controller.blur_version
                  %td
                    %i.icon-remove-sign.confirm-action.icon-white{:title => 'Remove This Controller','data-message' => 'remove this controller'}

      #clusters.span6
        %h2
          Clusters
        -unless @current_zookeeper.clusters.empty?
          %table.table.table-bordered
            %thead
              %tr
                %th Name
                %th Shard Blur Version
                %th Safe Mode
                %th Shards
                %th
            %tbody
              - @current_zookeeper.clusters.sort_by{|c| c.name}.each do |cluster|
                %tr{'data-cluster-id' => cluster.id, :class => ('error' if cluster.has_errors?)}
                  %td
                    =cluster.name
                  %td
                    =@shard_nodes == 1 ? @current_zookeeper.shards.first.blur_version : "Inconsistent Blur Versions"
                  %td
                    =cluster.safe_mode ? "Yes" : "No"
                  %td
                    %a.more-shard-info{:href => shards_zookeeper_path(@current_zookeeper.id, cluster.id)} View Shards
                  %td
                    %i.icon-remove-sign.confirm-action.icon-white{:title => 'Remove This Cluster','data-message' => 'remove this cluster'}
