#searches.partial-section
  -@searches.each do |search|
    .search_element{:id => search.id}
      %label
        =search.name
      %img.action_icon{:id => "delete_icon", :src => "/images/delete.png", :title => "Delete This Saved Query", :alt => "Delete This Saved Query"}
      %img.action_icon{:id => "edit_icon", :src => "/images/edit.png", :title => "Edit This Saved Query", :alt => "Edit This Saved Query" }
      %img.action_icon{:id => "run_icon", :src => "/images/play.png", :title => "Run This Saved Query", :alt => "Run This Saved Query" }