#searches.partial-section
  -if searches.length != 0 && !blur_table.nil?
    -searches.each do |search|
      -val = is_valid_search?(search)
      .search_element{:id => search.id}
        %label{:title => val ? search.name : "This is not a valid search for this schema"}
          =search.name
        %img.ui-icon.ui-icon-close.action-icon{:id    => "delete_icon",
                                               :title => "Delete This Saved Query",
                                               :alt   => "Delete This Saved Query"}
        %img.ui-icon-pencil.ui-icon.action-icon{:id    => "edit_icon",
                                                :title => "Edit This Saved Query",
                                                :alt   => "Edit This Saved Query"}
        -if val
          %img.ui-icon-play.ui-icon.action-icon{:id    => "run_icon",
                                                :title => "Run This Saved Query",
                                                :alt   => "Run This Saved Query"}
  -else
    %label You do not have any saved searches.
