#searches.partial-section
  -if searches.length != 0 && !blur_table.nil?
    -searches.each do |search|
      -val = is_valid_search?(search)
      .search_element{:id => search.id}
        .search-name{:title => val ? search.name : "This is not a valid search for this schema"}
          =search.name
        .search-buttons
          -if val
            #run_icon.icon.action-icon{ :title => "Run This Saved Query"}
              .play
          #edit_icon.icon.action-icon{ :title => "Edit This Saved Query"}
            .edit
          #delete_icon.icon.action-icon{ :title => "Delete This Saved Query"}
            .delete
        .clear

  -else
    %div You do not have any saved searches.
