#footer
  %p
    Powered by 
    = link_to 'afs', 'http://www.nearinfinity.com', :class => 'powered_by'
  %p= link_to 'Report Bug', 'http://www.nearinfinity.com', :class => 'powered_by'
  %p= link_to 'Documentation', 'http://www.nearinfinity.com', :class => 'powered_by'