@import 'partials/base';

#hd {
  height: 50px;
  line-height: 50px;
}

#nav {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 5px 0;
  text-align: center;
  ul {
    @include inline-block-list(10px);
    li {
      padding: 5px;
      &.active {
        @include border-radius;
        background-color: #eee;
      }
      a {
        @include unstyled-link;
      }
    }
  }
}

.widget{
	margin: 10px 5px 5px;
	width: 24%;
	display: inline-block;
	vertical-align: top;
	.ui-widget-header{
	  .ui-widget-content{
	    p, li{
	      font-size: 80%; 
	      font-weight: normal;
	    }
    }
  }
}

.hidden{
	display: none;
}

.inline{
	display: inline;
}