@import "compass/reset";
@import "partials/base";
@import "blueprint";
@import "compass";
@import "compass/layout";

@include sticky-footer($footer-height, "#root", "#root-footer", "#ft");


body {
  @include blueprint-typography(true);
  margin:0 auto;
}

#{headings()} {
  font-weight: bold;
}

a{
  font-weight: normal;
}

@import "application";
