@import "compass/reset";
@import "partials/base";
@import "blueprint";
@import "compass";
@import "compass/layout";

@include sticky-footer($footer-height, "#root", "#root-footer", "#ft");

#{headings()} {
  color: #999;
  font-weight: bold;
}

body {
  @include blueprint-typography(true);
}

body {
  margin:0 auto;
}

@import "application";
