/**
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
#audits_wrapper{
  #audits_table{
      .row {
        & > div:first-child {
          vertical-align: top;
          padding-top: 15px;
        }

        & > div:last-child {
          float: right;
        }

        .span2, .span3{
          float: right;
        }

        .span2{
          width: 325px;
          input{
            width: 100px;
            margin-right: 5px;
          }
          label{
            display: inline-block;
            width: 300px;
            margin-bottom: 0px;
          }
          button{
            margin-bottom: 10px;
          }
          .dataTables_processing{
            display: none;
          }
        }
      }

      .dataTables_filter{ 
        width: 100%;
        float: right;
        input{ width: 96%; }
      }
      
      .dataTables_info {
        padding-top: 8px;
      }

      .dataTables_processing {
        padding-top: 8px;
      }
    th{
      cursor: pointer;
      margin-right: 10px;
      .header_content {
        position: relative;
        div {
          display: inline-block;
          margin-right: 10px;
        }
      }

      &.sorting_disabled{
        cursor: default;
      }

      &.headerSortDown{
        .icon-chevron-up{ display: none; }
        .icon-chevron-down{ display: block; }
      }

      &.headerSortUp{
        .icon-chevron-up{ display: block; }
        .icon-chevron-down{ display: none; }
      }

      i{
        position:absolute;
        display: none;
        &.icon-chevron-up{
          top: 5px;
          right: 10px;
        }

        &.icon-chevron-down{
          bottom: 5px;
          right: 10px;
        }
      }
    }
  }
}