%table#queries-table
  %thead
    %tr.header
      %th User ID
      - if can? :index, :blur_queries, :query_string
        %th Query
      %th Super Query
      %th Start
      %th Fetch
      %th CPU time / Real time (ms)
      %th Status
      - if can? :update, :blur_queries
        %th Actions
      %th
  %tbody
    -if @blur_queries.empty?
      %tr#no-queries-row
        %td{:colspan => 9}
          %b No Available Queries
    -else
      = render :partial => 'blur_query', :collection => @blur_queries
