.times
  - unless times.nil? or times.empty?
    %table#times-table.condensed-table
      %thead
        %tr
          %td.shard Shard
          %td.time CPU Time (s)
          %td.time Real Time (s)
      %tbody
        - times.each do |shard, types|
          %td.shard= shard
          %td.time= types['cpuTime']
          %td.time= types['realTime']
