- content_for :title, 'Blur Queries'

- content_for :javascript do
  = javascript_include_tag 'blur_queries'
- content_for :stylesheets do
  = stylesheet_link_tag 'datatables.bootstrap'

#blur_queries_wrapper
  .range_select
    Queries in the last:
    %select.time_range
      =options_for_select({ "1 min" => 1, "5 min" => 5, "10 min" => 10, "30 min" => 30 }, 1)
  %table#queries-table.table.table-striped.table-bordered
    %thead
      %tr
        - headers = ['User ID']
        - headers << 'Query' if can? :index, :blur_queries, :query_string
        - headers.push 'Table Name', 'Starting Record', 'Time Submitted', 'Status', 'State', 'Actions/Info'
        - headers.each do |header|
          %th
            =header
            =render :partial => 'icons'
    %tbody
