- content_for :title, 'Blur Queries'

- content_for :javascript do
  = javascript_include_tag 'jquery.dataTables', 'datatables.fnReloadAjax', 'compiled/blur_queries'
- content_for :stylesheets do
  = stylesheet_link_tag 'datatables.bootstrap'

#blur_queries_wrapper
  %table#queries-table.zebra-striped
    %thead
      %tr
        %th User ID
        - if can? :index, :blur_queries, :query_string
          %th Query
        %th Table Name
        %th Starting Record
        %th Time Submitted
        %th Status
        %th Actions/Info
    %tbody