:plain
  $("#{escape_javascript(render 'show')}").dialog({
    modal: true,
    draggable: false,
    resizable: false,
    title: "Additional Info",
    close: function(event, ui) {
      $(this).remove();
    },
    open: function(event, ui) {
      $('.ui-widget-overlay').bind('click', function(){
        $('#more-info-table').dialog('close');
      });
    }
  })
