%table#more-info-table{:hidden => true}
  %thead
    %tr
      %th id
      %th query_string
      %th cpu_time
      %th real_time
      %th complete
      %th interrupted
      %th running
      %th uuid
      %th created_at
      %th updated_at
      %th table_name
      %th super_query_on
      %th facets
      %th start
      %th fetch_num
      %th pre_filters
      %th post_filters
      %th selector_column_families
      %th selector_columns
      %th userid
  %tbody
    %tr.more-info-body
    
    
    
    
    
    
