%table#queries-table
  %thead
    %tr
      %th User ID
      %th Query
      %th Start
      %th Fetch
      %th CPU time / Real time (ms)
      %th Status
      - if can? :update, :runtime
        %th Actions
      %th More Info
  %tbody
    -if @blur_queries.empty?
      %tr
        %td{:colspan => 8, :class => 'error'}
          %b No Available Queries
    -else
      =render :partial => 'blur_query', :collection => @blur_queries
