Tables:
%select#table-select{:name => 'tables'}
  -@tables.each do |table|
    %option{:value => table}
      =table
#runtime-graphs
  .runtime-graph-container
    %h4 Query Performance Graph
    #performance-graph.runtime-graph-placeholder
  .runtime-graph-container
    %h4 Table Usage Graph
    #usage-graph.runtime-graph-placeholder
#runtime-queries
  #queries-title
    %h2 Queries
  %table#queries-table
    %tr#queries-table-header
      %th Query
      %th
        Time
        %br
        (cpu/real)
      %th Status
      %th uuid
      %th Actions

