- content_for :title, 'Runtime'

- content_for :javascript do
  = javascript_include_tag 'compiled/runtime', 'jquery.dataTables.js', 'jquery.dataTables.columnFilter.js'

= stylesheet_link_tag 'demo_table.css'
Tables:
%select#table-select{:name => 'tables'}
  %option{:value => 'all'}
    All
  -@tables.each do |table|
    %option{:value => table}
      =table
#runtime-graphs
  .runtime-graph-container
    %h4 Query Performance Graph
    #performance-graph.runtime-graph
  .runtime-graph-container
    %h4 Average Time Graph
    #average-time-graph.runtime-graph
  .runtime-graph-container
    %h4 Table Usage Graph
    #usage-graph.runtime-graph
#runtime-queries
  #queries-title
    %h2 Queries
  %table#queries-table
    %thead
      %tr
        %th Query
        %th Super Query
        %th Start
        %th Fetch
        %th CPU Time (ms)
        %th Real Time (ms)
        %th Status
        %th uuid
        %th Actions
    %tbody
