- content_for :title, 'Runtime'

- content_for :javascript do
  = javascript_include_tag 'compiled/runtime'

#runtime-page
  Tables:
  %select#table-select{:name => 'tables'}
    %option{:value => 'all'}
      All
    -@tables.each do |table|
      %option{:value => table}
        =table
  #runtime-graphs
    .runtime-graph-container
      %h4 Query Performance
      .y-axis
        A
      .x-axis
        #performance-graph.runtime-graph
        B
    .runtime-graph-container
      %h4 Average Time
      #average-time-graph.runtime-graph
    .runtime-graph-container
      %h4 Table Usage
      #usage-graph.runtime-graph
  #runtime-queries
    #queries-title
      %h2 Queries
      =render :partial => 'query_table'
