- content_for :title, 'Runtime'
- content_for :javascript do
  = javascript_include_tag 'compiled/runtime'

Tables:
%select#table-select{:name => 'tables'}
  -@tables.each do |table|
    %option{:value => table}
      =table
#runtime-graphs
  .runtime-graph-container
    %h4 Query Performance Graph
    #performance-graph.runtime-graph
  .runtime-graph-container
    %h4 Average Time Graph
    #average-time-graph.runtime-graph
  .runtime-graph-container
    %h4 Table Usage Graph
    #usage-graph.runtime-graph
#runtime-queries
  #queries-title
    %h2 Queries
  %table#queries-table
    %tr#queries-table-header
      %th Query
      %th
        Time
        %br
        (cpu/real)
      %th Status
      %th uuid
      %th Actions
    -mysql_queries()
    -@running_queries.each do |query|
      %tr
        %th
          =query.query_string
        %th
          -if (query.cpu_time and query.real_time)
            =query.cpu_time.to_s + '/' + query.real_time.to_s
          -else
            ???
        %th
          -if (query.complete == 1)
            complete
          -elsif (query.interrupted)
            interrupted
          -elsif (query.running)
            running
          -else
            ???
        %th
          -if (query.uuid)
            = query.uuid
          -else
            ???
        %th

