- content_for :title, 'Runtime'

- content_for :javascript do
  = javascript_include_tag 'compiled/runtime'

#runtime-page
  Tables:
  %select#table-select{:name => 'tables'}
    %option{:value => 'all'}
      All
    -@tables.each do |table|
      %option{:value => table}
        =table
  #runtime-graphs
    .runtime-graph-container
      %h4 Database Utilization
      #usage-graph.runtime-graph
  #runtime-queries
    #queries-title
      %h2 Queries

    = render 'query_table'
      
#more-info-container

#failure-message{:hidden => true}
  #failed-info{:hidden => true}
  #failed-buttons 
    %form
      =label_tag :t, "The cancel was unsuccessful, would you like to try canceling again?", :id => "failed-label"
      %button#confirm-resubmit.cancel{:type => "button"}
        Cancel
      %button#confirm-resubmit.resubmit{:type => "button"}
        Re-Submit