- content_for :title, 'New User'

#new_user_wrapper
  %h2 Register

  = render 'form'

  %br
  - if @current_user
    %p= link_to "Back to List", users_path
  - else
    %p= link_to "Log In", login_path
