%select.bulk-action-selector{:disabled => 'disabled'}
  -if can?(:update, :blur_tables)
    %option{:value => "disable"}Disable Tables
%button.bulk-action-button.btn{:disabled => 'disabled'} Do Action

%table.cluster_table.zebra-striped{:blur_cluster_id => cluster}
  %thead
    %tr
      %th
        %input.bulk-action-checkbox.check-all{:type => "checkbox"}
      %th Name
      %th Hosts/Shards
      %th Row Count
      %th Record Count
      %th Info
  %tbody
    