-if can?(:forget, :blur_tables)
  %button.btn.btn-danger{:disabled => 'disabled', :blur_bulk_action => 'forget'} Forget Tables

%table.table.table-striped.table-bordered{:blur_cluster_id => cluster}
  %thead
    %tr
      %th
        %input.bulk-action-checkbox.check-all{:type => "checkbox", :disabled=>'disabled'}
      %th Name
  %tbody
    %tr.no-tables
      %th
      %th{:colspan=>1} Loading Tables...