-if can?(:update, :blur_tables)
  %button.bulk-action-button.btn.primary.suppress-button{:disabled => 'disabled', :blur_bulk_action => 'forget'} Forget Tables

%table.cluster_table.zebra-striped{:blur_cluster_id => cluster}
  %thead
    %tr
      %th
        %input.bulk-action-checkbox.check-all{:type => "checkbox", :disabled=>'disabled'}
      %th Name
  %tbody
    %tr.no-tables
      %th
      %th{:colspan=>1} Loading Tables...