%select.bulk-action-selector{:disabled => 'disabled'}
  -if can?(:update, :blur_tables)
    %option{:value => "forget"}Forget Tables
%button.bulk-action-button.btn{:disabled => 'disabled'} Do Action

%table.cluster_table.zebra-striped{:blur_cluster_id => cluster}
  %thead
    %tr
      %th
        %input.bulk-action-checkbox.check-all{:type => "checkbox", :disabled=>'disabled'}
      %th Name
  %tbody
    %tr.no-tables
      %th
      %th{:colspan=>1} Loading Tables...