- nil_message = "Not Available"

- if !tables.empty? && can?(:update, :blur_tables)
  %button.forget_blur_table_button.btn.primary{:blur_cluster_id => cluster} Forget All Tables

%table.zebra-striped
  %thead
    %tr
      %th Name/Location
      %th
  %tbody
    - if tables.empty?
      %tr
        %td{:colspan => 2} No deleted tables found.
    - tables.each do |table|
      %tr.blur_table{:blur_table_id => table.id}
        %td
          = table.table_name
          %br
          = table.table_uri
        %td
          - if can? :delete, :blur_tables
            %button.forget_blur_table_button.btn.primary{:blur_cluster_id => cluster} Forget Table
:javascript
  $("#cluster_#{cluster} .table_accordion h3:eq(2) .counter").html(#{tables.size})