%select.bulk-action-selector{:disabled => 'disabled'}
  -if can?(:update, :blur_tables)
    %option{:value => "enable"}Enable Tables
  -if can?(:delete, :blur_tables)
    %option{:value => "delete"}Delete Tables
%button.bulk-action-button.btn{:disabled => 'disabled'} Do Action

%table.cluster_table.zebra-striped{:blur_cluster_id => cluster}
  %thead
    %tr
      %th
        %input.bulk-action-checkbox.check-all{:type => "checkbox", :disabled=>'disabled'}
      %th Name
      %th Row Count
      %th Record Count
  %tbody
    %tr.no-tables
      %th
      %th{:colspan=>3} Loading Tables...