- content_for :title, 'Blur Tables'
- content_for :javascript do
  =javascript_include_tag 'jquery.jstree','compiled/blur_tables'

#blur_tables
  %ul
    - @clusters.each do |cluster|
      %li
        %a{:href=>"#cluster_#{cluster.id}"}= cluster.name
  - @clusters.each do |cluster|
    #cluster{:id => cluster.id, :data => {:cluster_id => cluster.id}}
      .table_accordion
        %h3.breadcrumb
          %a{:href => '#'}
            Active Tables (
            %span.counter
            )
        %div.active_tables.tabletab
          = render :partial => 'active_tables', :locals => {:tables => @blur_tables.select{|table| table.cluster.id == cluster.id && table.is_enabled?}, :cluster => cluster.id}
        %h3.breadcrumb
          %a{:href => '#'}
            Disabled Tables (
            %span.counter
            )
        %div.disabled_tables.hidden.tabletab
          = render :partial => 'disabled_tables', :locals => {:tables => @blur_tables.select{|table| table.cluster.id == cluster.id && table.is_disabled?}, :cluster => cluster.id}
        %h3.breadcrumb
          %a{:href => '#'}
            Deleted Tables (
            %span.counter
            )
        %div.deleted_tables.hidden.tabletab
          = render :partial => 'deleted_tables', :locals => {:tables => @blur_tables.select{|table| table.cluster.id == cluster.id && table.is_deleted?}, :cluster => cluster.id}