- content_for :title, 'Blur Tables'
- content_for :javascript do
  =javascript_include_tag 'jquery.jstree','compiled/blur_tables'

#blur_tables_wrapper
  .blur_tables_header
    %span.table_name
    %span.hosts Hosts / Shards
    %span.row-count Row Count
    %span.count Record Count
    %span.size Size
    %span.second Queries/Second
    %span.status Status
    %span.schema Schema


  = render @blur_tables

  .blur_tables_footer
    = "Total Tables: #{@blur_tables.length}"
