- content_for :title, 'Blur Tables'
- content_for :javascript do
  =javascript_include_tag 'jquery.jstree','compiled/blur_tables'

#blur_tables_wrapper
  %h2 Tables
  %table#blur_tables_table
    %tr#header
      %th Table
      %th Shards
      %th Count
      %th Size
      %th Queries/Second
      %th Enabled
      %th Actions

    = render :partial => 'blur_table', :collection => @blur_tables

#confirm.ui-confirm{:hidden => true}
  #confirm-dialog
  #confirm-buttons
    %form
      %input#underlying-confirm{:type => "checkbox", :checked => false}
        =label_tag :t, "Delete underlying table index", :id => "delete-label"
      %button#confirm-submit.cancel{:type => "button"}
        Cancel
      %button#confirm-submit.ok{:type => "button"}
        Delete

