%H2 Create Blur Table

%form{:action => create_table_path, :method => "post"}
  
  %h3 Aliases
  %ul
    %input{:type => "button", :id => "add_alias", :value => "Add Alias"}
    %li{:class => "alias"}
      Alias Name:
      %input{:type => "text", :class => "aliasname"}
      Class Name:
      %input{:type => "text", :class => "classname"}

  %h3 Default
  Default Alias Name:
  %input{:type => "text", :name => "default_alias_name"}

  %h3 Fields
  %ul
    %input{:type => "button", :id => "add_column_family", :value => "Add Column Family"}
    %li{:class => "column_family"}
      Column Family Name:
      %input{:type => "text"}
      %ul
        %input{:type => "button", :id => "add_column", :value => "Add Column"}
        %li{:class => "column"}
          Column:
          %input{:type => "text"}
          Alias Name:
          %input{:type => "text"}


-content_for :javascript do
  =javascript_include_tag 'compiled/new_table'
