%H2 Create Blur Table

%form{:action => create_table_path, :method => "post"}
  
  %h3 Aliases
  %ul
    %input{:type => "button", :id => "add_alias", :value => "Add Alias"}
    %li.alias
      Alias Name:
      %input.aliasname
      Class Name:
      %input.classname

  %h3 Default
  Default Alias Name:
  %input

  %h3 Fields
  %ul
    %input{:type => "button", :id => "add_column_family", :value => "Add Column Family"}
    %li.column_family
      Column Family Name:
      %input
      %ul
        %input{:type => "button", :class => "add_column", :value => "Add Column"}
        %li.column
          Column:
          %input
          Alias Name:
          %input
          %input{:type => "button", :class => "make_column_array", :value => "Array"}

%li.column_array
  %ul
    Default Analyzer:
    %input
    %input{:type => "button", :class => "add_key_value", :value => "add key:value"}
    %input{:type => "button", :class => "make_column", :value => "String"}
    %li.key_value
      Key:
      %input
      Value:
      %input
      
-content_for :javascript do
  =javascript_include_tag 'compiled/new_table'
