- content_for :title, 'Data'
#data-dtables
  #dtables-title
    %h2 Tables
  %table#dtables-table
    %tr#dtables-table-header
      %th Table
      %th Shards
      %th Count
      %th Size

    -@tables.each do |table|
      %tr
        %th
          =table
        %th
          =get_shards(table)
        %th
          =get_count(table)
        %th
          =get_size(table)