- content_for :title, 'Data'
#data-dtables
  #dtables-title
    %h2 Tables
  %table#dtables-table
    %tr#dtables-table-header
      %th Table
      %th Shards
      %th Count
      %th Size
      %th
        Enable/
        %br
        Disable

    -@tables.each do |table|
      %tr
        %td
          %b
            =table
        %td
          =get_shards(table)
        %td
          =get_count(table)
        %td
          =get_size(table)
        %td
          =get_enable(table)
      %tr
        %td{:colspan => 5}
          %b location:
          =get_loc(table)
      %tr
        %td{:colspan => 5}
          %b definition:
          %ul
            %li Column Families:
            %ul#def-families
              -@tschema[table].each do |family, sets|
                %li
                  =family
                  %ul#def-elements
                    -sets.each do |word|
                      %li
                        =word
      %tr