- content_for :title, 'Data'

#data-dtables
  #dtables-title
    %h2 Tables
  %table#dtables-table
    %tr#dtables-table-header
      %th Table
      %th Shards
      %th Count
      %th Size
      %th
        Query
        %br
        Usage
      %th
        Enabled/
        %br
        Disabled
      %th Actions

    -@tables.each do |table|
      %tr
        %td
          %b
            =table
        %td
          =get_shards(table)
        %td
          =get_count(table)
        %td
          -a_blur_table = get_a_blur_table(table)
          -if (a_blur_table != nil)
            =a_blur_table.current_size
          -else
            not available
        %td
          -if (a_blur_table != nil)
            =a_blur_table.query_usage
          -else
            not available
        %td
          %input{:type => "checkbox", :checked => @tdesc[table].isEnabled, :class => "enable", :id => table}
        %td
          %input{:type => "button", :class => "delete-table", :value => "delete", :id => table}
      %tr
        %td{:colspan => 7}
          %b location:
          =get_loc(table)
      %tr
        %td{:colspan => 7}
          %b definition:
          %ul.table-def
            %li
              Column Families:
              %ul.table-def-families
                -@tschema[table].each do |family, sets|
                  %li
                    =family
                    %ul#def-elements
                      -sets.each do |word|
                        %li
                          =word
      %tr
-content_for :javascript do
  =javascript_include_tag 'compiled/data'

