<% if (cluster.get('can_update')) { %>
  <button class="btn btn-primary" disabled="disabled" data-action="disable">Disable Tables</button>
<% } %>
<table class="table table-striped table-bordered" blur_cluster_id='<%= cluster.get('id') %>'>
  <thead>
    <tr>
      <th><input class="check-all" type="checkbox" disabled="disabled"/></th>
      <th>Name</th>
      <th>Hosts/Shards</th>
      <th>Row Count</th>
      <th>Record Count</th>
      <th>Info</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>