<% if (cluster.get('can_update')) { %>
  <button class="btn btn-primary" disabled="disabled" data-action="disable">Disable Tables</button>
<% } %>
<table class="table table-striped table-bordered" blur_cluster_id='<%= cluster.get('id') %>' id="active_tables">
  <thead>
    <tr>
      <th class="checkbox-td"><input class="check-all" type="checkbox" disabled="disabled"/></th>
      <th>Name</th>
      <th>Comments</th>
      <th class="host_shards">Hosts | Shards<i class="icon-chevron-up"></i> <i class="icon-chevron-down" ></i></th>
      <th class="row_count">Row Count<i class="icon-chevron-up"></i> <i class="icon-chevron-down" ></i></th>
      <th class="record_count">Record Count<i class="icon-chevron-up"></i> <i class="icon-chevron-down" ></i></th>
      <th>Info</th>
      <th>Queries / Minute</th>      
    </tr>
  </thead>
  <tbody class="active-table">
  </tbody>
</table>
